#map {
	height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 11.5px
}
li { 
	cursor: pointer; 
	cursor: hand; 
}


#addResumoRelatorio img{
	position: relative;
	top:10px;
	padding-left: 10px;
}
.relatorioGrafico img {
	top: 10px;
	position: relative;
	left: 10px;
}
.relatorioGrafico{
	cursor: pointer;
	float: right;
	position: relative;
	bottom: 20px;
	right: 35px;
	color: #839C34;
}
.minimize{
	float: right;
    cursor: pointer;
    padding-top: 10px;
    padding-right: 10px;
}
.minimized{
	float:left;
}
#divisaoPesquisada{
	display: none;
	position: relative;
	overflow-y: scroll;
	height: 60%;
	left: 15px;
}
#mediaDadosGerais{
	display: none;
}
#Limpar{
	z-index: 2;
	padding-right: 10px;
}
.close{
	cursor: pointer;
	float: right;
	padding-top: 10px;
	padding-right: 20px;

}

.item{
	display:inline;
}
.RemoverItem{
	display: inline;
	padding-right: 4px;
	padding-left: 10px;
	
}
#resumoInformacoes{
	font-size: 11px;
	color: #727270;
	line-height: 14px;
	height: 40%;
	border-bottom: 1px solid #E17E69;
	overflow-y: scroll;
	overflow-x: hidden;
}
#mediaDadosGerais{
	background-color: white;
	font-size: 10px;
	display: none;
	position: absolute;
	border: 1px solid black;
	overflow-y: scroll;
	left: 300px;
	z-index: 5;
	top: 300px;
	cursor: move;
}
#mediaDadosGerais{
	left: 870px;
	top: 316px;
}



#Filtro-Divisao{
	position: absolute;
	top:180px;
	right:130px;
}

.innerform {
	max-height: 350px;
	overflow-y: scroll;
	padding-left: 20px;
	color: #2A3542;
	font-size: 10px;
}
#relatorio{
	display: none;
}
#GerarRelatorio{
	font-size: 12px;
	cursor: pointer;
	position: fixed;
	bottom: 0px;
	background-color: white;
	text-align: center;
	width: 10%;
}
.ExpandivelTitulo{
	padding-left: 20px;
	display: inline;
}
.Expandivel img{
	float: right;
    position: relative;
    right: 10px;
    top: 8px;
}

#GerarRelatorio:hover{
	opacity: 0.5;	
}
#listaInformacoes{
	width: 280px;
	float: left;
	font-size: 12px;
	position: absolute;
	z-index: 2;
	background-color: rgba(255,255,255,0.9);
	color: #D05647;
	top: 8%;
	left: 10px;
	height: 75%;
	overflow-y: auto;
}
#InformaçõesEspecificas{
	height: 100%;
	width: 10%;
	float: left;
	display:none;
	font-size: 12px;
}
#marcatodos{
	z-index: 2;
}
#botaoCheckBox input {
	width:100%;
}
#botaoCheckBox{
	position: fixed;
	bottom: 0;
	background-color: white;
	width: 120px;
}

.setoresMarcados{

}

#opcoes{
	display: none;
	position: relative;
	font-size: 10px;
	z-index: 1;
	top: 15px;
	left: 20px;
	width: 100%;

}
#headerBackground{

	width:100%;
	height: 100%;
}
#resumoDivisao{
	position: relative;
	opacity: 0.3;
	float: right;
	bottom: 3px;
	right: 15px;
}
span {
  vertical-align: middle;
}
#caminho{
	position: absolute;
	z-index: 2;
	bottom: 50px;
	background-color: rgba(225,126,107,0.5);
	left: 295px;
	color: white;
	font-size: 13px;
	text-align: center;
	width: 355px;
	min-height: 53px;
	line-height: 53px;
}
#header {
	width: 100%;
	height: 5%;
	background-color: #E17E69;
	border-bottom: 2px solid white;
}
#loading{
	display: none;
	width: 100%;
	height: 100%;
	background-color:rgba(255, 255, 255, 0.5);
	z-index: 10;
	position: absolute;
}
#loading h1{
	position: absolute;
	top: 50%;
	left: 40%;
}
#formInformacaoEspecifica{
	background-color: white;
}
#TipoPesquisa{
	height: 100%;
	width: 10%;
	float: left;
	display:none;
	font-size: 50%;
}
#divisao{
	z-index: 3;
	position: absolute;
	bottom: 50px;
	background-color: rgba(255,255,255,0.5);
	left: 10px;
	width: 280px;
	min-height: 53px;
}
.charts{
	width:100%;
	height: 300px;
}
#AplicarNoMapa{
	position: absolute;
	z-index: 2;
	top: 8%;
	left: 580px;
	height: 35px;
	background-color: #E5826D;
	color: white;
	border: none;
	font-size: 11.5px;
	width: 140px;

}
.qtdapls{
	display:inline;
}
.chartsHearder{
	width: 100%;
	height: 10px;
	background: #657e89;
}
.chatsTittles{
	color: #657e89;
	padding-left: 30px;
	padding-top: 15px;
	font-size: 15px;
	padding-bottom: 20px;

}
#minimizesDivs{
	position: absolute;
	width: 355px;
	height: 25px;
	z-index: 2;
	bottom: 110px;
	left: 295px;
	overflow-x: auto;
}
#selectGrafico{
	width: 190px;
	border: none;
	color: #657e89;
	font-size: 13px;
	background-color: #FFFFFF;
	border-bottom: 1px solid rgb(85, 112, 124,0.5);
	position: absolute;
	bottom: 25px;
	left: 35px;
}
.dragable{
	position: absolute;
	top: 150px;
	width: 500px;
	height: 400px;
	left: 300px;
	z-index: 10;
	background-color: white;
	cursor: move;

}
.removeItem{
	width: 10px;
    cursor: pointer;
    height: 10px;
}
#listaGraficos{
	width:100%;
	height: 30%;
	font-size: 10px;
	background-color: white;
}
#ListaItensAnalises{
	max-height: 50%;
	overflow-y: scroll;
	padding-right: 10px;
	padding-left: 10px;
	display: none
}
#ListaItensRelatorios{
	max-height: 50%;
	overflow-y: scroll;
	padding-right: 10px;
	padding-left: 10px;
	display: none
}
#Marcador{
	position: absolute;
	background-color: #E5826D;
	width: 30px;
	height: 20px;
	top: 25px;
    
    z-index: 2;
    display: block;
	left: 811.083px;
}
.googoose-wrapper{
	
}
#BaixarRelatorio{
	background-color: #839C34;
	border: 1px solid #839C34;
	color: white;
	line-height: 25px;
	position: relative;
	display: none;
	float: right;
	right: 20px;
}
#GerarRelatorioTitulo{
	color: #839C34;
	padding-left: 20px;
	padding-top: 10px;
	opacity: 0.5;
	font-size: 11.5px;
}
#addResumoRelatorio{
	
	
	position: relative;
	
	cursor: pointer;
	display: none;
	color: #839C34;
	left:15px;

}

#GerarRelatorios{
	height: 30%;
	width: 100%;
	border-top: 1px solid rgba(0,0,0,0.2);
	font-size: 10px;
	background-color: white;

}
#relatorioMapa{
	padding-left: 10px;
}
.itensGrafico{
	cursor: pointer;
    border-top: 1px solid rgba(0,0,0,0.2);
    line-height: 30px;

    border-bottom: 1px solid rgba(0,0,0,0.2);
}
#linha{
	border-bottom: 1px solid rgba(255,255,255,0.5);
    position: relative;
    height: 4px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 1px;
}
.anoData{
	color: white;
	width:7.6923076923076925%;
	float: left;
	cursor: pointer;
	z-index: 2;
	position: relative;
}
#ListaGraficoTitulo{
	color: #D05647;
	font-size:11.5px;
	position: relative;
	left:15px;
	opacity: 0.5;

}
ul {
	list-style-type: none;
}

.iconeLista{
	width:50%;
}
 body { height: 100%;width: 100%; margin: 0; padding: 0; overflow: hidden; }
	
.nicebox {
  position: absolute;
  text-align: center;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 13px;
  z-index: 5;
  box-shadow: 0 4px 6px -4px #333;
  padding: 5px 10px;
  background: rgb(255,255,255);
  background: linear-gradient(to bottom,rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%);
  border: rgb(229, 229, 229) 1px solid;
}
#Saves img {
	cursor:pointer;
}
#Saves{
	position: absolute;
	right: 21%;
	top: 8%;
	z-index: 2;
}
#resumoTitulo{
	color: rgb(85, 112, 124);
	position: relative;
	left: 15px;
	top: 10px;
	float: left;
}

#logo{
	position: absolute;
	z-index: 2;
	left: 25px;
	top: 3px;
}
#inputListaDivisao{
	border: none;
	border-bottom: 1px solid rgb(85, 112, 124);
	width: 80%;
	position: relative;
	left: 15px;
	background-color: rgba(85, 112, 124,0);
	font-size: 11.5px;
}
#cantoDireito{
	float:right;
	height:100%;
	width: 20%;
	position: relative;
	z-index: 2;
}
#ExpandeDivisaoGeografica {
	position: relative;
	left: 15px;
	cursor: pointer;
	top: 10px;
}
#linhaDatas{
	position: relative;
	top: 25px;
	height: 4px;
	width: 935px;
	left: 20px;
}
#timeLine{
	width:100%;
	position:absolute;
	bottom:0px;
	height: 50px;
	background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1) 120%);
}
#setores{
	color: white;
	background: rgba(85, 112, 124, 0.5);
	float: left;
	position: absolute;
	z-index: 2;
	max-height: 50%;
	overflow-y: scroll;
	width: 280px;
	top: 8%;
	left: 295px;
	min-height: 62px;
	overflow-x: hidden;
}
#controls {
	bottom: 50px;
    left: 655px;
    width: 245px;
    opacity: 0.5;
    min-height: 42px;
}
.tituloPesquisa{
	color:#49818F;
}
.divisaoLayout{
	width:100%;
	height:20px;
	background-color: #49818F;
}
.Expandivel{
	width: 100%;
	height: 30px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	line-height: 30px;
	cursor:pointer;

}
#setores span{
	position: relative;
	left: 25px;
	top: 9px;
	cursor: pointer;
}
#data-box {
	line-height: 45px;
    display: none;
    position: absolute;
    bottom: 50px;
    left: 925px;
    background-color: white;
    opacity: 0.5;
    height: 53px;
    width: 170px;
    text-align: center;
    font-size: 0.5vw;
}
#census-variable {
  width: 360px;
  height: 20px;
}
#legend { display: flex; display: -webkit-box; padding-top: 7px }
.color-key {
  background: linear-gradient(to right,
    hsl(5, 69%, 54%) 0%,
    hsl(29, 71%, 51%) 17%,
    hsl(54, 74%, 47%) 33%,
    hsl(78, 76%, 44%) 50%,
    hsl(102, 78%, 41%) 67%,
    hsl(127, 81%, 37%) 83%,
    hsl(151, 83%, 34%) 100%);
  flex: 1;
  -webkit-box-flex: 1;
  margin: 0 5px;
  text-align: left;
  font-size: 1.0em;
  line-height: 1.0em;
}
#data-value { font-size: 2.0em; font-weight: bold }
#data-label { font-size: 2.0em; font-weight: normal; padding-right: 10px; }
#data-label:after { content: ':' }
#data-caret { margin-left: -5px; display: none; font-size: 14px; width: 14px; height: 100%}
